<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Advanced_Actions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Advanced_Actions.Properties.Settings>
            <setting name="SystemAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SystemAction_ON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CMD" serializeAs="String">
                <value>pause</value>
            </setting>
            <setting name="CMD_ON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="App" serializeAs="Xml">
                <value>
                    <ArrayOfAnyType xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <anyType xsi:type="xsd:string">C:\Windows\System32\cmd.exe</anyType>
                    </ArrayOfAnyType>
                </value>
            </setting>
            <setting name="App_ON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpecificDays" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Day" serializeAs="String">
                <value>79</value>
            </setting>
            <setting name="RepeatOnDay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatODNBR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RepeatODType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RepeatOnTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatOTNBR" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RepeatOTType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecificTime" serializeAs="String">
                <value>02/02/0002 22:30:00</value>
            </setting>
            <setting name="StartOn" serializeAs="String">
                <value>2017-01-01</value>
            </setting>
            <setting name="EndOn" serializeAs="String">
                <value>9998-12-31</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_Args" serializeAs="Xml">
                <value>
                    <ArrayOfAnyType xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <anyType xsi:type="xsd:string">/c pause</anyType>
                    </ArrayOfAnyType>
                </value>
            </setting>
            <setting name="NumberSettings" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ActiveSettingsNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingsName1" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SettingsName2" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsName3" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsName4" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsName5" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsName6" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsName7" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsName8" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsName9" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsName10" serializeAs="String">
                <value />
            </setting>
            <setting name="EnabledActions" serializeAs="String">
                <value>1023</value>
            </setting>
            <setting name="None_ON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxHour_ON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxHour" serializeAs="String">
                <value>02/02/0002 23:59:00</value>
            </setting>
        </Advanced_Actions.Properties.Settings>
    </userSettings>
</configuration>